<!DOCTYPE html>
<html>

<head>

    <title>AI Learning Recommendation</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="navbar">
        AI Learning Recommendation System
    </div>

    <div class="container">

        <h1>Welcome Student</h1>

        <h2>Improve Your Learning with AI</h2>

        <br><br>

        <a href="/login">
            <button>Login</button>
        </a>

        <br><br>

        <a href="/register">
            <button>Register</button>
        </a>

    </div>

</body>

</html>